sudo: required
services:
  - docker

before_install:
  - docker build -t pritisdocker/docker-react -f Dockerfile.dev .

script:
- docker run -e CI=true pritisdocker/docker-react npm run test 

deploy:
  provider : elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket-name: "elasticbeanstalk-us-east-1-745572078071"
  bucket-path: "docker-react"
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key:
    secure: "$AWS_SECRET_KEY"